.header {
    background: var(--color-main);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    border-bottom: 1px solid #ECECEC;
    @media screen and (min-width: 480px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .conteiner{
        display: flex;
        align-items: center;
     
    }
    @media screen and (min-width:768px){
        padding-top: 21px;
        padding-bottom: 21px; 
    }
    @media screen and (min-width:1200px){
        padding-top: 24px;
    padding-bottom: 24px;
    }
 }

.logo { 
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--navi-color);
    text-decoration: none;
    @media screen and (min-width: 480px){
        font-size: 24px;
        line-height: 1.17;
    }
    @media screen and (min-width:1200px){
        font-size: 26px;
    line-height: 1.19;
    }
 }

 .header__logo{
    margin-right: 93px;

 }

.logo--dark{
    color: var(--color-class);
    }

    .menu-list {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
.menu-list__link{
}
.menu-list__link:not(:last-child){margin-right: var(--fif-mar);}

.header-mouse {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--color-class);
text-decoration: none;
transition: color 800ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus{
    color: var(--navi-color);
}
}

.menu-list__link-line{
}
.menu-list__link-line::after{
display: flex;
content: "";
width: 48px;
height: 4px;
top: 76px;
position: absolute;
background: #2196F3;
border-radius: 2px;
bottom: 0px;

}

.header__contakt{
    margin-left: auto;
    
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width:1200px){
        display: flex;
    }
}

.contakt__adress {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
margin-right: 30px;
display: flex;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus{
    color: #2196F3;
    }
    @media screen and (min-width:768px){
        
font-size: 12px;
line-height: 1.17;
margin-bottom: 10px;
    }
    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.contakt__icon-ramm{
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        fill: #2196F3;
       }
       .contakt__adress:hover &, .contakt__adress:focus &{
        fill: #2196F3;
       }
}

.contakt__tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
display: flex;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover{
    color: #2196F3;
   }
}

.contakt__icon-ramt{
 margin-right: 10px;
 fill: #757575;
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 &:hover, &:focus{
    fill: #2196F3;
    }
    .contakt__tel:hover &, .contakt__tel:focus &{
     fill: #2196F3;
    }
}

.menu-click{
    width: 40px;
    height: 40px;
    margin-left: auto;
    fill: #212121;
    border: none;
    background-color: #ffffff;
    &:focus{
        fill: #2196F3;
    }
    @media screen and (min-width:768px){
        display: none;
    }
}

//портфолио//

.menu-list__link-linep::after{
    display: flex;
    content: "";
    width: 78px;
    height: 4px;
    top: 76px;
    position: absolute;
    background: #2196F3;
    border-radius: 2px;
    bottom: 0px;
    }