.name {
    background: #2F303A;
    
padding-top: 118px;
padding-bottom: 118px;
    margin:0 auto;
    // max-width: 1600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../picture/fon-mob-1x.jpg);
  
    @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../picture/fon-mob-2x.jpg);
}

@media screen and (min-width:768px) {
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../picture/fon-tab-1x.jpg);
  
    @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../picture/fon-tab-2x.jpg);
}
} 
@media screen and (min-width:1200px) {
   padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../picture/fon-desk-1x.jpg);
  
    @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../picture/fon-desk-2x.jpg);
} 
}
 }

  

.name-idia {
font-weight: 900;
// font-size: 44px;
// line-height: 1.36;
font-size: 26px;
line-height: 1.62;
// display: flex;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--color-main);
margin-bottom: var(--third-mar);
 }

.name-click {
font-weight: 500;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
display: block;
align-items: center;
text-align: center;
color: var(--color-main);
background: #2196F3;
border-radius: 4px;
padding: 10px 32px;
// min-width: 200px;
margin: 0 auto;
border: none;
 }
