.modal-menu {
    // display: none;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
padding-top: 10px;
padding-right: 15px;
padding-left: 40px;
padding-bottom: 48px;
overflow-y: scroll;
overflow-y: hidden;
display: flex;
flex-direction: column;
justify-content: space-between;


// .conteiner {
//     overflow-y: auto;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     height: 100%;

// }
 }

.modal-menu__click { 
    display: block;
    margin-left: auto;
    border: none;
    background-color: #ffffff;
fill: #212121;
  
}
.modal-menu__click:hover, .modal-menu__click:focus{
    fill: #2196F3;
}

.modal-menu__header { }
.modal-menu-list {
    list-style: none;
 }

.modal-menu-list__link { 
    
    &:not(:last-child){
        margin-bottom: 32px;
        
}
}


.modal-menu__mouse {
    text-decoration: none;
    color: var(--color-class);
    font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;

// transition: color 800ms cubic-bezier(0.4, 0, 0.2, 1);
// &:hover, &:focus{
//     color: var(--navi-color);
// }
}
.modal-menu__mouse--blue{
    color: #2196F3;
}
.modal-menu-down{
// padding-top: 302px;
// position: absolute;
// bottom: 0;
}

.modal-menu-adress{
    list-style: none;
}

.menu__tel{
margin-bottom: 32px;
}

.modal-menu-tel { 
    font-weight: 500;
font-size: 34px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #2196F3;
text-decoration: none;
}

.modal-menu-mail {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
 }

 .menu__mail{
     margin-bottom: 64px;
 }

.modal-menu-soc {
    list-style: none;
    display: flex;
    
}

.modal-menu-soc__link {
&:not(:last-child){
    margin-right: 10px;
}
 }
 .modal-menu-soc__link:not(:first-child)::before{
   
            content: "";
            
            height: 22px;
            border: 1px solid rgba(33, 33, 33, 0.2);
        margin-right: 10px;
    }
 

 .menu-soc__cl{
    text-decoration: none;
    color: #2196F3;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
 }