.team-smoler{
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em; 
}
  
.til-text{
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #757575;

}

.link-view {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

.bl-color{
    color:var(--color-class);
}